__pycache__
.env
.venv
junit
test-results.xml
.idea
.vscode
logs
latest_logs
log_archives
archived_logs
reports/*.xml
saved_cookies
*.pkl
*.json
*.xml
*.lock
*.html
*.toml
*.png
*.jpg
*.js
*.jsonl
*.log
zpgeek_job
resume.txt
